.orderformPage .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 30px;
}
.orderformPage .title {
    font-size: 20px;
    margin-bottom: 20px;
}
.orderformPage .input_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
}
.orderformPage .input_grid textarea {
    grid-row: span 2;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 100%;
    padding-top: 15px;
}
.orderformPage .intable_pro .img {
    width: 121px;
    height: 100px;
    margin-right: 12px;
}
.orderformPage .intable_pro .name {
    max-width: 200px;
    margin-bottom: 10px;
}
.orderformPage .intable_pro .op05 {
    font-size: 14px;
}
.orderformPage .intable_pro {
    align-items: flex-start;
    margin-bottom: 15px;
}
.orderformPage .intable_pro .quantity {
    margin: 0 15px;
}
.orderformPage .checks {
    margin-bottom: 25px;
}
.orderformPage .checks.last {
    margin-top: 50px;
}
.orderformPage .checks label {
    position: relative;
    padding-left: 30px;
    color: #2f3e5173;
}
.orderformPage .checks label::before {
    border: 1px solid #dedede;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    left: 0;
    top: 2px;
}
.orderformPage .checks label::after {
    width: 16px;
    height: 15px;
    left: 3px;
    top: 2px;
    background: url(/img/icons/other/tick.svg) no-repeat;
    background-size: contain;
    display: none;
}
.orderformPage .checks input {
    display: none;
}
.orderformPage .checks input:checked + label::after {
    display: block;
}
#banks_list {
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 14px;
}
#banks_list .banks_list_item {
    margin-bottom: 15px;
}

@media screen and (max-width: 1400px) {
    .orderformPage .grid {
        grid-gap: 23px;
    }
}
@media screen and (max-width: 1100px) {
    .orderformPage .grid .products,
    .orderformPage .grid .first {
        grid-column: span 2;
    }
    .orderformPage .intable_pro .name {
        max-width: none;
    }
}
@media screen and (max-width: 700px) {
    .orderformPage .grid {
        grid-template-columns: 1fr;
    }
    .orderformPage .grid .products,
    .orderformPage .grid .first {
        grid-column: span 1;
    }
    .orderformPage .intable_pro {
        font-size: 13px;
    }
    .orderformPage .intable_pro .name {
        font-size: 14px;
        max-width: 80%;
    }
    .orderformPage .intable_pro .op05 {
        font-size: 13px;
    }
    .orderformPage .intable_pro .img {
        width: 83px;
        height: 66px;
        margin-right: 9px;
    }
    .orderformPage .checks {
        margin-bottom: 10px;
        font-size: 13px;
    }
}
@media screen and (max-width: 550px) {
    .orderformPage .intable_pro .name {
        font-size: 13px;
    }
    .orderformPage .input_grid {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .orderformPage .input_grid textarea {
        grid-row: span 1;
        grid-row-start: auto;
        grid-row-end: auto;
        grid-column-start: auto;
        grid-column-end: auto;
        height: 100px;
    }
}
