.footer {
  background: linear-gradient(to top, #e5e5e5, transparent);
  padding: 51px 0 75px 0;
}
.footer .main {
  margin: 40px 0 57px 0;
  align-items: flex-start;
}
.footer .main .archy-edt {
  font-size: 20px;
  margin-bottom: 20px;
}
.footer .main .map {
  width: 530px;
  height: 190px;
}
.footer .main .op05 {
  max-width: 320px;
}
.footer .contact_info {
  display: flex;
  margin-bottom: 20px;
}
.footer .contact_info img {
  margin-right: 10px;
}
.footer .main .sm {
  justify-content: flex-start;
  margin-top: 30px;
}
.footer .bottom_Links {
  padding-top: 35px;
  border-top: 2px solid #2f3e51;
  justify-content: flex-start;
  overflow-y: hidden;
  overflow-x: scroll;
}
.footer .bottom_Links::-webkit-scrollbar {
  height: 0;
}
.footer .bottom_Links a {
  font-size: 20px;
  margin-right: 32px;
  white-space: nowrap;
}

@media screen and (max-width: 1350px) {
  .footer .bottom_Links a {
    font-size: 16px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 1300px) {
  .footer .main .map {
    width: 381px;
  }
}
@media screen and (max-width: 1100px) {
  .footer .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .footer .main .column:last-child {
    grid-column: span 2;
  }
  .footer .main .map {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .footer .main {
    grid-template-columns: 1fr;
  }
  .footer .main .column:last-child {
    grid-column: span 1;
  }
  .footer {
    padding: 51px 0 32px 0;
  }
  .footer .bottom_Links {
    padding-top: 22px;
  }
}
