.SingleProduct {
  margin-top: 20px;
}
.SingleProduct .container {
  width: 1300px;
  margin: auto;
}
.SingleProduct .path img,
.SingleProduct .path span {
  vertical-align: middle;
  opacity: 0.5;
}
.SingleProduct .path img {
  margin: 0 5px;
}
.SingleProduct .path .active {
  opacity: 1;
}
.SingleProduct .main {
  align-items: flex-start;
  margin-bottom: 80px;
  margin-top: 12px;
}
.SingleProduct .details {
  width: 40%;
}
.SingleProduct .details .main_button svg {
  display: none;
}
.SingleProduct .details .bold {
  text-transform: uppercase;
  margin-bottom: 7px;
}
.SingleProduct .details .op5 {
  opacity: 0.5;
}
.SingleProduct .details .margin {
  margin: 25px 0;
}
.SingleProduct .details .in_stock {
  color: #0d5a05;
  opacity: 0.5;
  border-bottom: #ecf0f7 1px solid;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.SingleProduct .details .no_stock {
    color: #5a0505;
    opacity: 0.5;
    border-bottom: #ecf0f7 1px solid;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.SingleProduct .view {
  width: 50%;
  margin-right: 50px;
}
.SingleProduct .slider_1 {
  width: 100%;
  margin-bottom: 40px;
}
.SingleProduct .slider_1 .product_image {
  width: 100%;
}
.SingleProduct .slider_2 {
  margin: 0 -15px;
}
.SingleProduct .slider_2 .product_image {
  width: 145px;
  height: 145px;
  margin: 0 15px;
}
.SingleProduct .slider_2 .product_image .discount {
  padding: 1px 9px;
  font-size: 12px;
  top: 5px;
}
.slick-arrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #05185a;
  margin: 0 20px;
  z-index: 100;
}
.slick-arrow::before {
  display: none;
}
.slick-arrow::after {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 10px;
  background: url(/assets/images/icons/arrows/2w.svg) no-repeat;
  background-position: center;
  background-size: contain;
}
.slick-arrow.slick-prev::after {
  transform: translate(-50%, -50%) rotate(180deg);
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background: #05185a;
}
.SingleProduct .similar_products {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}
.SingleProduct .similar_products::after {
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 73px;
  height: 3px;
  background-color: #05185a;
}
.SingleProduct .grid4 {
  margin-bottom: 80px;
}

@media screen and (max-width: 1400px) {
  .SingleProduct .container {
    width: 95%;
  }
}
@media screen and (max-width: 1300px) {
  .SingleProduct .container {
    width: 95%;
  }
  .SingleProduct .details {
    width: auto;
  }
  .SingleProduct .slider_2 .product_image {
    width: 96px;
    height: 96px;
  }
}
@media screen and (max-width: 900px) {
  .SingleProduct .main {
    flex-direction: column;
  }
  .SingleProduct .view {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .SingleProduct .slider_2 .product_image {
    width: 140px;
    height: 140px;
  }
  .slick-arrow {
    margin: 0 36px;
  }
}
